<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org" th:replace="~{/layout/index :: dynamic(~{::main})}">

<body>
    <main>
        <div th:replace="~{/cart/view :: shopping_cart}"></div>
        <div class="card">
            <div class="card-header">ORDER PURCHASING
                <div class="card-body">
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <div>Purchaser:</div>
                            <div class="form-control" id="username">[[${#authentication.principal.username}]]</div>
                        </div>
                        <div class="form-group col-sm-6">
                            <div>Order Date:</div>
                            <div class="form-control">{{order.createDate | date : 'dd-MM-yyyy'}}</div>
                        </div>
                    </div>

                    <!-- Phần nhập địa chỉ -->
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label for="provinceSelect" class="form-label">Tỉnh/Thành phố</label>
                            <select id="provinceSelect" class="form-select" ng-model="selectedProvince"
                                ng-change="loadDistricts()">
                                <option value="">Chọn Tỉnh/Thành phố</option>
                                <option ng-repeat="province in provinces" value="{{province.code}}">
                                    {{province.name}}
                                </option>
                            </select>
                        </div>

                        <div class="form-group col-sm-6">
                            <label for="districtSelect" class="form-label">Quận/Huyện</label>
                            <select id="districtSelect" class="form-select" ng-model="selectedDistrict"
                                ng-change="loadWards()" ng-disabled="!districts.length">
                                <option value="">Chọn Quận/Huyện</option>
                                <option ng-repeat="district in districts" value="{{district.code}}">
                                    {{district.name}}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="row">                       
                        <div class="form-group col-sm-6">
                            <label for="wardSelect" class="form-label">Phường/Xã</label>
                            <select id="wardSelect" class="form-select" ng-disabled="!wards.length"
                                ng-model="selectedWard" click="generateFullAddress()">
                                <option value="">Chọn Phường/Xã</option>
                                <option ng-repeat="ward in wards" value="{{ward.code}}">
                                    {{ward.name}}
                                </option>
                            </select>
                        </div>

                        <div class="form-group col-sm-6">
                            <label for="houseNumber" class="form-label">Số nhà</label>
                            <input type="text" ng-model="houseNumber" class="form-control" placeholder="Nhập số nhà">
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-sm-12">
                            <div>Shopping Address</div>
                            <!-- Kết nối fullAddress với order.address -->
                            <textarea ng-model="order.address" class="form-control"></textarea>
                        </div>
                    </div>
                </div>

                <div class="card-footer text-right">
                    <button ng-click="generateFullAddress()" class="btn btn-success">Generate Address</button>
                    <button ng-click="order.purchase()" class="btn btn-success">Purchase</button>
                </div>
            </div>
        </div>
    </main>

    <!-- AngularJS và jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"></script>

</body>

</html>