<div class="card">
    <div class="card-header bg-primary text-white">
        <h5 class="mb-0">Product Edition</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-4 text-center">
                <label for="image">
                    <img ng-src="{{'/assets/images/' + form.image}}" class="img-fluid" style="max-height: 200px;">
                </label>
            </div>
            <div class="col-sm-8">
                <div class="row mb-3">
                    <div class="col-sm-6">
                        <label for="category" class="form-label">Category</label>
                        <select id="category" ng-model="form.category.id" class="form-select">
                            <option value="" disabled selected>Select a category</option>
                            <option ng-repeat="c in cates" ng-value="c.id">{{c.name}}</option>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <label for="productModel" class="form-label">Product Model</label>
                        <select id="productModel" ng-model="form.productModel.id" class="form-select" ng-change="onProductModelChange(form.productModel.id)">
                            <option value="" disabled selected>Select a product model</option>
                            <option ng-repeat="pm in pm" ng-value="pm.id">{{pm.name}}</option>
                        </select>
                    </div>  
                </div>            
                <div class="row mb-3">
                    <div class="col-sm-6">
                        <label for="productcolors" class="form-label">Color</label>
                        <select id="productcolors" ng-model="form.productColor.id" class="form-select">
                            <option value="" disabled selected>Select a color</option>
                            <option ng-repeat="color in availableColors" ng-value="color.id">{{color.color}}</option>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <label for="productCapacities" class="form-label">Storage (GB)</label>
                        <select id="productCapacities" ng-model="form.productCapacity.id" class="form-select">
                            <option value="" disabled selected>Select storage capacity</option>
                            <option ng-repeat="capacity in availableCapacities" ng-value="capacity.id">{{capacity.capacity}}</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-6">
                        <label for="imageUpload" class="form-label">Image</label>
                        <input type="file" class="form-control" id="imageUpload"
                            onchange="angular.element(this).scope().imageChanged(this.files)">
                    </div>
                    <div class="col-sm-6">
                        <label for="price" class="form-label">Price</label>
                        <input id="price" ng-model="form.price" class="form-control" type="number" step="0.01" placeholder="Enter price">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-6">
                        <label for="createDate" class="form-label">Create Date</label>
                        <input id="createDate" ng-model="form.createDate" type="date" class="form-control">
                    </div>
                    <div class="col-sm-6">
                        <label for="quantity" class="form-label">Quantity</label>
                        <input id="quantity" ng-model="form.quantity" class="form-control" type="number" step="0.01" placeholder="Enter quantity">
                    </div>
                    <div>
                        <label class="form-label">Available?</label>
                        <div class="form-check">
                            <input ng-model="form.available" ng-value="true" id="availableYes" name="available" type="radio" class="form-check-input">
                            <label for="availableYes" class="form-check-label">Yes</label>
                        </div>
                        <div class="form-check">
                            <input ng-model="form.available" ng-value="false" id="availableNo" name="available" type="radio" class="form-check-input">
                            <label for="availableNo" class="form-check-label">No</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer text-center">
        <button ng-click="create()" class="btn btn-primary">
            <i class="bi bi-plus"></i> Create
        </button>
        <button ng-click="update()" class="btn btn-success">
            <i class="bi bi-save"></i> Update
        </button>
        <button ng-click="delete(form)" class="btn btn-danger">
            <i class="bi bi-trash"></i> Delete
        </button>
        <button ng-click="reset()" class="btn btn-info">
            <i class="bi bi-arrow-clockwise"></i> Reset
        </button>
    </div>
</div>