<!doctype html>
<html lang="en">

<head>
    <!-- Website infomation -->
    <title>Táo Thơm | Táo giá thơm</title>
    <link rel="shortcut icon" href="image/Logo/Apple_Store_logo.svg.png" type="image/x-icon">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap-5.0.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <footer class="container mt-4">
        <div class="row">
            <div class=" col-sm-4">
                <div class="foot-pd-li m-5">
                    <h6 class="mb-3">HỆ THỐNG TÁO THƠM MOBILE</h6>
                    <ul class="m-0 p-0" style="list-style: none;">
                        <li class="mb-3"><a href="">Giới thiệu Táo Thơm</a> </li>
                        <li class="mb-3"><a href="">Trung tâm sửa chữa & bảo hành (09:00 - 19:00)</a> </li>
                        <li class="mb-3"><a href="">Trung tâm bảo hành chính hãng</a> </li>
                        <li class="mb-3"><a href="">Hợp tác kinh doanh</a> </li>
                        <li class="mb-3"><a href="">Tuyển dụng</a> </li>
                        <li class="mb-3"><a href="">Khách hàng doanh nghiệp</a></li>
                    </ul>

                </div>
            </div>

            <div class="col-sm-4">
                <div class="foot-pd-li m-5">
                    <h6 class="mb-3">HƯỚNG DẪN MUA HÀNG</h6>
                    <ul class="m-0 p-0" style="list-style: none;">
                        <li class="mb-3"><a href="">Thu cũ đổi mới</a> </li>
                        <li class="mb-3"><a href="">Hướng dẫn mua hàng online</a> </li>
                        <li class="mb-3"><a href="">Hướng dẫn mua hàng trả góp</a> </li>
                        <li class="mb-3"><a href="">Vận chuyển - thanh toán</a> </li>
                        <li class="mb-3"><a href="">Chính sách đổi trả / bảo hành</a> </li>
                        <li class="mb-3"><a href="">Điều khoản sử dụng</a> </li>
                    </ul>

                </div>
            </div>

            <div class="col-sm-4">
                <div class="my-5">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="m-0 p-0" style="list-style: none; font-size: small;">
                                <li>Tổng đài (9:00 - 21:00)</li>
                                <li>Mua hàng/Khiếu nại</li>
                                <li style="font-size: large; font-weight: bold; color: blue;">0334710391</li>
                            </ul>
                        </div>
                        <div class="col-sm-6">
                            <ul class="m-0 p-0" style="list-style: none; font-size: small;">
                                <li>Tổng đài (9:00 - 19:00)</li>
                                <li>Bảo hành/Phần mềm</li>
                                <li style="font-size: large; font-weight: bold; color: blue;">0334710391</li>
                            </ul>
                        </div>
                    </div>
                    <div class="my-4">
                        <div class="row">
                            <div class="col-sm-4 text-center">
                                <a href="https://www.facebook.com/kinlou1368/" target="_blank"
                                    style="font-size: medium; text-decoration: none;"><span class="bi bi-facebook"
                                        style="font-size: larger;"></span> FACEBOOK</a>
                            </div>
                            <div class="col-sm-4 text-center">
                                <a href="" style="font-size: medium; text-decoration: none; color: red;"><span
                                        class="bi bi-youtube" style="font-size: larger;"></span> YOUTUBE</a>
                            </div>
                            <div class="col-sm-4 text-center">
                                <a href="" style="font-size: medium; text-decoration: none; color: black;"><span
                                        class="bi bi-tiktok" style="font-size: larger;"></span> TIKTOK</a>
                            </div>

                        </div>
                    </div>
                    <div>
                        <h6>Nhận tin khuyến mãi</h6>
                        <div class="input-group">
                            <input type="text" class="form-control">
                            <button class="btn btn-outline-secondary" type="button"><span
                                    class="bi bi-send"></span></button>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="row mb-4" style="height: 150px;">
		  <div class="col-sm-6 m-5 mt-3">
		    <h2 style="font-size: 1.5em;">Phương thức thanh toán</h2>
		    <img src="/assets/image/Logo/Thanhtoan.jpg" style="width: 100%;" alt="">
		  </div>
		</div>
        

        <hr>

        <div class="row mt-20 mt-4" style="height: 130px;">
            <div class="col-sm-8">
                <ul style="font-size: 13px; color: gray; list-style: none;">
                    <li>2015 - 2021 taothommobile.com - All Rights Reserved</li>
                    <li>Giấy phép kinh doanh / Mã số thuế: 0334710393. Địa chỉ: 13 Đường số 8, KDC Bình Hưng, Bình
                        Chánh, Tp. Hồ Chí Minh</li>
                    <li>Địa chỉ liên hệ: 13 Đường số 8, KDC Bình Hưng, Bình Chánh, Tp. Hồ Chí Minh. Điện thoại:
                        03347.10.393,
                        Email:
                        hr@taothommobile.com</li>
                    <li>Chịu trách nhiệm nội dung: Lưu Tùng Kiên. Email: luukien323@gmail.com</li>
                </ul>
            </div>
            <div class="col-sm-4">
                <div style="text-align: right;">
                    <a href="https://www.facebook.com/kinlou1368/" target="_blank">
                        <img src="/assets/images/Logo/bct.jpg" alt="">
                    </a>
                    <br>
                    <a href="https://www.facebook.com/kinlou1368/" target="_blank">
                        <img src="/assets/images/Logo/dmca_protected_sml_120n.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </footer>
    <!-- Nội dung trang web -->


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

<style>
    #itemShow {
        height: 200px;
        width: 100%;
        min-height: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #itemShow img {
        max-height: 100%;
        max-width: 100%;
        object-fit: contain;
    }

    #itemShow1 {
        height: 280px;
        width: 100%;
        min-height: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #itemShow1 img {
        max-height: 100%;
        max-width: 100%;
        object-fit: contain;
    }

    #itemShow1-group:hover img,
    #itemShow1-group:hover h6 {
        transform: scale(1.1);
        color: rgb(255, 179, 92);
    }


    .card-group a {
        text-decoration: none;
    }

    /*Footer*/
    .foot-pd-li li {
        margin-bottom: 20px;
        font-size: small;
    }

    .foot-pd-li li a {
        text-decoration: none;
        color: gray;
    }

    .foot-pd-li li a:hover {
        color: rgb(74, 74, 74);
    }
</style>

</html>